<h1 align="center">Welcome to <%= @user.username %></h1>
<div class="row">
  <col-md-4 class="col-md-offset-4 center">
    <%= gravatar_for @user, size: 150 %>
  </col-md-4>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/article', obj: @user.articles %>