<% if obj.errors.any? %>
  <div class="row">
   <div class="col-xs-10 col-xs-offset-1">
    <div class="panel panel-danger">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(obj.errors.count, "error") %>
            prohibited this article from beging saved:
          </h2>
        </div>
        <div class="panel-body">
          <% obj.errors.full_messages.each do |msg| %>
            <ul><li><%= msg %></li></ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>