$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 700;
}

.center {
  text-align: center;
}

.jumbotron {
//  background-image: ;
//  background-size: ;
  height: 550px;
  h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: 700;
  }
}

.btn-xlg {
  font-stretch: 1.7em;
  background-color: black;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    &:hover {
      color: #222;
      text-decoration: none;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
}

.alert {
  li {
  }
}

.article-action {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title {
  font-weight: 700;
  font-size: 1.5em;
}

.article-body {
  border-top: 1px solid #eaeaea;
  padding: 15px 0;
}