<div class="container">
  <footer class="footer">
    <small>Copyright &copy; <a href="http://truongvan.me">Truongvan</a></small>
    <nav>
      <ul>
        <li>
          <%= link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>